<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>googlegmail</string>
		<string>ms-outlook</string>
		<string>ymail</string>
		<string>webdemail</string>
		<string>gmxmail</string>
	</array>
    
    <key>NSCameraUsageDescription</key>
    <string>Wir benötigen die Kamera für Videoaufnahmen.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Wir benötigen das Mikrofon für Videoaufnahmen mit Ton.</string>
    <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>iCalendar-Datei</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.apple.ical.ics</string>
                </array>
            </dict>
        </array>

</dict>
</plist>
