<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
    
    
    <key>LSApplicationQueriesSchemes</key>
       <array>
           <string>mailto</string>
           <string>googlegmail</string>
           <string>ms-outlook</string>
           <string>ymail</string>
           <string>webdemail</string>
           <string>gmxmail</string>
       </array>
       
       
       <key>NSCameraUsageDescription</key>
            <string>Agil benötigt die Kamera um Übungsvideos aufzunehmen.</string>
       <key>NSMicrophoneUsageDescription</key>
            <string>Agil benötigt das Mikrofon für Videoaufnahmen.</string>
       
</dict>
</plist>
